<!DOCTYPE html>
<html>
  <head>
    <title>PickMeUp</title>

    <!-- Javascript -->
    <script src="/resources/jquery.js"></script>
    <script src="/resources/jquery.cookie.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/alertify/alertify.js"></script>
    <script src="/resources/handlebars.runtime.js"></script>
    <script src="/resources/moment.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/index.js"></script>

    <!-- Css -->
    <link rel='stylesheet' href='/resources/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/resources/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/resources/alertify/alertify.css' />

  </head>
  <body>
    <div id="main-container"></div>
  </body>
</html>