<div class="modal fade" id="compose-modal" tabIndex="-1" role="dialog" aria-hidden="true" aria-labelledby="compose-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">Compose PickMeUp</h4>
			</div>
			<div class="modal-body text-center">
				<div class="row">
					<label for="compose-user" class="control-label">To: </label>
					<select class="form-control-static" id="compose-user">
						{{#each users}}
							<option value="{{this._id}}">{{this.username}}</option>
						{{/each}}
					</select>
				</div>
				<div class="row">
					<textarea rows="8" cols="30" resize:placeholder="Type PickMeUp here" id="compose-text"></textarea>
				</div>
			</div>
			<div class="modal-footer text-center">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
          				<button type="button" class="btn btn-info" id="compose-send">Send PickMeUp!</button>
          			</div>
          		</div>
          	</div>
		</div>
	</div>
</div>
