<div class="container" id="login_container">
	<div class="row">
		<h1>PickMeUp</h1>
	</div>

	<div class="row">
		<input placeholder="Username" id="username" type="text" />
	</div>

	<div class="row">
		<input placeholder="Password" id="password" type="password" />
	</div>

	<div class="row" id="pw_confirm">
		<input placeholder="Password Confirm" id="confirm_password" type="password" />
	</div>

	<div class="row" id="signup_div">
		<div>
			<button class="btn btn-info" id="signin">Sign In</button>
		</div>
		<div>
			New User? <a href="#" id="new_user">Register</a>
		</div>
	</div>

	<div class="row" id="signin_div">
		<div>
			<button class="btn btn-info" id="signup">Sign Up</button>
		</div>
		<div>
			Returning User? <a href="#" id="returning_user">Sign In</a>
		</div>
	</div>
</div>
