<span class="pickmeup-text">
	{{ text }}
</span>

<span class="pickmeup-vote right">
	Score: {{ score }}

	<i class="fa fa-arrow-up vote-button" data-vote-direction="up"></i>
	<i class="fa fa-arrow-down vote-button" data-vote-direction="down"></i>
</span>